#
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P50;	# RAMD0
NET VD<1>	LOC=P43;
NET VD<2>	LOC=P35;
NET VD<3>	LOC=P32;
NET VD<4>	LOC=P33;
NET VD<5>	LOC=P34;
NET VD<6>	LOC=P51;
NET VD<7>	LOC=P53;

NET VA<0>	LOC=P52;	# RAMA0
NET VA<1>	LOC=P54;
NET VA<2>	LOC=P59;
NET VA<3>	LOC=P62;	# RAMA3/M0
NET VA<4>	LOC=P66;
NET VA<5>	LOC=P68;	# RAMA5/VS1
NET VA<6>	LOC=P74;
NET VA<7>	LOC=P76;
NET VA<8>	LOC=P75;
NET VA<9>	LOC=P70;	# RAMA9/VS0
NET VA<10>	LOC=P58;
NET VA<11>	LOC=P67;	# RAMA11/VS2
NET VA<12>	LOC=P78;
NET VA<13>	LOC=P77;
NET VA<14>	LOC=P82;
NET VA<15>	LOC=P86;
NET VA<16>	LOC=P85;
NET VA<17>	LOC=P83;
NET VA<18>	LOC=P87;

NET FA<15>	LOC=P139;	# FA15
NET FA<16>	LOC=P140;
NET FA<17>	LOC=P142;
NET FA<18>	LOC=P143;	# FA18/HSWAP
NET FA<19>	LOC=P104;

NET D<0>	LOC=P3;		# D0
NET D<1>	LOC=P2;
NET D<2>	LOC=P15;
NET D<3>	LOC=P4;
NET D<4>	LOC=P14;
NET D<5>	LOC=P7;
NET D<6>	LOC=P8;
NET D<7>	LOC=P5;

NET A<0>	LOC=P18;	# A0
NET A<1>	LOC=P56;
NET A<2>	LOC=P48;
NET A<3>	LOC=P41;
NET A<4>	LOC=P47;
NET A<5>	LOC=P36;
NET A<6>	LOC=P38;
NET A<7>	LOC=P24;
NET A<8>	LOC=P29;
NET A<9>	LOC=P10;
NET A<10>	LOC=P12;
NET A<11>	LOC=P141;
NET A<12>	LOC=P128;
NET A<13>	LOC=P136;
NET A<14>	LOC=P120;
NET A<15>	LOC=P129;

NET VPA		LOC=P23;	# VPA
NET VDA		LOC=P21;	# VDA

NET NIOSEL	LOC=P132;	# /IOSEL

NET NVRAMSEL	LOC=P60;	# /RAMCS/M1
NET NFRAMSEL	LOC=P124;	# /FRAMSEL
NET RAMRWB	LOC=P81;	# /RAMWE

NET GRAPHIC	LOC=P107;	# GRAPHIC

NET HSYNC	LOC=P98;	# HSYNC
NET VSYNC	LOC=P97;	# VSYNC
NET PET_VSYNC	LOC=P88;	# PET_VSYNC

NET Q50M	LOC=P122;	# 50M
NET Q50M	BUFG=CLK;

NET RWB		LOC=P134;	# R/-W
NET NRES	LOC=P117;	# /RES
NET NRES	BUFG=SR;

NET PHI2_IO	LOC=P125;	# UNUSED!!!
NET PHI2_IO	BUFG=CLK;

#NET MLB		LOC=P21;
#NET VPB		LOC=P22;
NET E			LOC=P20;
#NET MX			LOC=P24;

NET PHI2		LOC=P126;

NET RDY			LOC=P31;

NET EXTIO		LOC=P114;
NET IOINH		LOC=P111;
NET NMEMSEL		LOC=P112;
NET nbe_out		LOC=P130;	# /BE_OUT
NET nbe_dout		LOC=P131;	# /BE_DOUT
NET be_in		LOC=P119;
NET SYNC		LOC=P135;

NET CPHI2		LOC=P113;
NET C2PHI2		LOC=P106;
NET C8PHI2		LOC=P105;

NET DENA		LOC=P96;	# /DENA

NET PXL_OUT<0>		LOC=P94;	# ROUT 
NET PXL_OUT<1>		LOC=P93;	# GOUT
NET PXL_OUT<3>		LOC=P92;	# BOUT
NET PXL_OUT<2>		LOC=P91;	# IOUT


NET SPISELA		LOC=P39;	# SPISELA/CSO_B
NET SPISELB		LOC=P26;
NET SPISELC		LOC=P25;

NET SPI_OUT		LOC=P44;	# SPI_MOSI
NET SPI_CLK		LOC=P71;	# SPI_CLK/CCLK
NET SPI_IN1		LOC=P63;	# SPI_MISO/DIN

NET SPI_IN3		LOC=P69;

