#
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P83;
NET VD<1>	LOC=P77;
NET VD<2>	LOC=P75;
NET VD<3>	LOC=P74;
NET VD<4>	LOC=P76;
NET VD<5>	LOC=P81;
NET VD<6>	LOC=P23;
NET VD<7>	LOC=P25;

NET VA<0>	LOC=P82;
NET VA<1>	LOC=P85;
NET VA<2>	LOC=P86;
NET VA<3>	LOC=P88;
NET VA<4>	LOC=P92;
NET VA<5>	LOC=P94;
NET VA<6>	LOC=P97;
NET VA<7>	LOC=P98;
NET VA<8>	LOC=P105;
NET VA<9>	LOC=P96;
NET VA<10>	LOC=P87;
NET VA<11>	LOC=P93;
NET VA<12>	LOC=P104;
NET VA<13>	LOC=P103;
NET VA<14>	LOC=P123;
NET VA<15>	LOC=P122;
NET VA<16>	LOC=P106;
NET VA<17>	LOC=P117;
NET VA<18>	LOC=P125;

NET FA<15>	LOC=P34;
NET FA<16>	LOC=P70;
NET FA<17>	LOC=P71;
NET FA<18>	LOC=P53;
NET FA<19>	LOC=P142;

NET D<0>	LOC=P52;
NET D<1>	LOC=P51;
NET D<2>	LOC=P50;
NET D<3>	LOC=P44;
NET D<4>	LOC=P43;
NET D<5>	LOC=P40;
NET D<6>	LOC=P39;
NET D<7>	LOC=P35;

NET A<0>	LOC=P69;
NET A<1>	LOC=P68;
NET A<2>	LOC=P67;
NET A<3>	LOC=P66;
NET A<4>	LOC=P63;
NET A<5>	LOC=P95;	#62;	#95;
NET A<6>	LOC=P60;
NET A<7>	LOC=P59;
NET A<8>	LOC=P58;
NET A<9>	LOC=P57;
NET A<10>	LOC=P56;
NET A<11>	LOC=P31;
NET A<12>	LOC=P48;
NET A<13>	LOC=P47;
NET A<14>	LOC=P41;
NET A<15>	LOC=P38;

NET VPA		LOC=P29;
NET VDA		LOC=P6;

NET NIOSEL	LOC=P33;

NET NVRAMSEL	LOC=P91;
NET NFRAMSEL	LOC=P112;
NET RAMRWB	LOC=P8;

NET GRAPHIC	LOC=P36;

NET HSYNC	LOC=P15;
NET VSYNC	LOC=P16;
NET DCLK	LOC=P20;	# SRCLK
NET DENA	LOC=P5;
NET PET_VSYNC	LOC=P7;

NET Q50M	LOC=P128;
NET Q50M	BUFG=CLK;

NET RWB		LOC=P129;
NET NRES	LOC=P107;
NET NRES	BUFG=SR;

NET PHI2_IO	LOC=P116;	# UNUSED!!!
NET PHI2_IO	BUFG=CLK;

##NET MLB		LOC=P21;
##NET VPB		LOC=P22;
NET E			LOC=P141;
##NET MX			LOC=P24;

NET SPI_OUT		LOC=P22;
NET SPI_CLK		LOC=P17;

NET SPI_IN1		LOC=P89;
NET SPI_IN3		LOC=P78;

NET NFLASH		LOC=P21;
NET SPI_NSEL2		LOC=P143;
NET SPI_NSEL3		LOC=P3;
NET SPI_NSEL4		LOC=P4;

NET SPI_NSEL5		LOC=P26;

##NET MEMCLK		BUFG=CLK;
##NET MEMCLK		NOREDUCE;
#
##NET PHI2		BUFG=CLK;
NET PHI2		LOC=P2;

NET RDY			LOC=P136;

NET EXTIO		LOC=P12;
NET IOINH		LOC=P10;
NET NMEMSEL		LOC=P132;
NET nbe_out		LOC=P32;
NET nbe_dout		LOC=P139;
NET be_in		LOC=P18;
NET SYNC		LOC=P135;

NET CPHI2		LOC=P134;
NET C2PHI2		LOC=P130;
NET C8PHI2		LOC=P131;

NET PXLLD		LOC=P126;
NET nchromaddr		LOC=P140;
NET COLORLD		LOC=P54;
#NET COLORLD2		LOC=P16;

NET NSRLOAD		LOC=P14;
