
#
# csa_ultracpu 1.3b
#
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 |PULLUP;
## NET VD<0>	LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=16;

NET VD<0>	LOC=P50 | IOSTANDARD = LVTTL;	# RAMD0
NET VD<1>	LOC=P43 | IOSTANDARD = LVTTL;
NET VD<2>	LOC=P35 | IOSTANDARD = LVTTL;
NET VD<3>	LOC=P32 | IOSTANDARD = LVTTL;
NET VD<4>	LOC=P33 | IOSTANDARD = LVTTL;
NET VD<5>	LOC=P34 | IOSTANDARD = LVTTL;
NET VD<6>	LOC=P51 | IOSTANDARD = LVTTL;
NET VD<7>	LOC=P53 | IOSTANDARD = LVTTL;

NET VA<0>	LOC=P52 | IOSTANDARD = LVTTL;	# RAMA0
NET VA<1>	LOC=P54 | IOSTANDARD = LVTTL;
NET VA<2>	LOC=P59 | IOSTANDARD = LVTTL;
NET VA<3>	LOC=P62 | IOSTANDARD = LVTTL;	# RAMA3/M0
NET VA<4>	LOC=P66 | IOSTANDARD = LVTTL;
NET VA<5>	LOC=P68 | IOSTANDARD = LVTTL;	# RAMA5/VS1
NET VA<6>	LOC=P74 | IOSTANDARD = LVTTL;
NET VA<7>	LOC=P76 | IOSTANDARD = LVTTL;
NET VA<8>	LOC=P75 | IOSTANDARD = LVTTL;
NET VA<9>	LOC=P70 | IOSTANDARD = LVTTL;	# RAMA9/VS0
NET VA<10>	LOC=P58 | IOSTANDARD = LVTTL;
NET VA<11>	LOC=P67 | IOSTANDARD = LVTTL;	# RAMA11/VS2
NET VA<12>	LOC=P81 | IOSTANDARD = LVTTL;
NET VA<13>	LOC=P77 | IOSTANDARD = LVTTL;
NET VA<14>	LOC=P83 | IOSTANDARD = LVTTL;
NET VA<15>	LOC=P87 | IOSTANDARD = LVTTL;
NET VA<16>	LOC=P86 | IOSTANDARD = LVTTL;
NET VA<17>	LOC=P85 | IOSTANDARD = LVTTL;
NET VA<18>	LOC=P88 | IOSTANDARD = LVTTL;

NET FA<15>	LOC=P139 | IOSTANDARD = LVTTL;	# FA15
NET FA<16>	LOC=P140 | IOSTANDARD = LVTTL;
NET FA<17>	LOC=P142 | IOSTANDARD = LVTTL;
NET FA<18>	LOC=P143 | IOSTANDARD = LVTTL;	# FA18/HSWAP
NET FA<19>	LOC=P104 | IOSTANDARD = LVTTL;

NET D<0>	LOC=P3 | IOSTANDARD = LVTTL;		# D0
NET D<1>	LOC=P2 | IOSTANDARD = LVTTL;
NET D<2>	LOC=P15 | IOSTANDARD = LVTTL;
NET D<3>	LOC=P4 | IOSTANDARD = LVTTL;
NET D<4>	LOC=P14 | IOSTANDARD = LVTTL;
NET D<5>	LOC=P7 | IOSTANDARD = LVTTL;
NET D<6>	LOC=P8 | IOSTANDARD = LVTTL;
NET D<7>	LOC=P5 | IOSTANDARD = LVTTL;

NET A<0>	LOC=P18 | IOSTANDARD = LVTTL;	# A0
NET A<1>	LOC=P56 | IOSTANDARD = LVTTL;
NET A<2>	LOC=P48 | IOSTANDARD = LVTTL;
NET A<3>	LOC=P41 | IOSTANDARD = LVTTL;
NET A<4>	LOC=P47 | IOSTANDARD = LVTTL;
NET A<5>	LOC=P36 | IOSTANDARD = LVTTL;
NET A<6>	LOC=P38 | IOSTANDARD = LVTTL;
NET A<7>	LOC=P24 | IOSTANDARD = LVTTL;
NET A<8>	LOC=P29 | IOSTANDARD = LVTTL;
NET A<9>	LOC=P10 | IOSTANDARD = LVTTL;
NET A<10>	LOC=P12 | IOSTANDARD = LVTTL;
NET A<11>	LOC=P141 | IOSTANDARD = LVTTL;
NET A<12>	LOC=P128 | IOSTANDARD = LVTTL;
NET A<13>	LOC=P136 | IOSTANDARD = LVTTL;
NET A<14>	LOC=P120 | IOSTANDARD = LVTTL;
NET A<15>	LOC=P129 | IOSTANDARD = LVTTL;

NET VPA		LOC=P23 | IOSTANDARD = LVTTL;	# VPA
NET VDA		LOC=P21 | IOSTANDARD = LVTTL;	# VDA

NET NIOSEL	LOC=P132 | IOSTANDARD = LVTTL;	# /IOSEL

NET NVRAMSEL	LOC=P60 | IOSTANDARD = LVTTL;	# /RAMCS/M1
NET NFRAMSEL	LOC=P124 | IOSTANDARD = LVTTL;	# /FRAMSEL
NET RAMRWB	LOC=P82 | IOSTANDARD = LVTTL;	# /RAMWE

NET GRAPHIC	LOC=P107 | IOSTANDARD = LVTTL;	# GRAPHIC

NET HSYNC	LOC=P98 | IOSTANDARD = LVTTL;	# HSYNC
NET VSYNC	LOC=P97 | IOSTANDARD = LVTTL;	# VSYNC
NET PET_VSYNC	LOC=P91 | IOSTANDARD = LVTTL;	# PET_VSYNC

NET Q50M	LOC=P122 | IOSTANDARD = LVTTL;	# 50M
NET Q50M	BUFG=CLK;
NET Q50M PERIOD=20;

NET DBG		LOC=P134 | IOSTANDARD = LVTTL;
NET RWB		LOC=P125 | IOSTANDARD = LVTTL;	#LOC=P134;	# R/-W
NET NRES	LOC=P117 | IOSTANDARD = LVTTL;	# /RES
NET NRES	BUFG=SR;

NET NIRQ LOC=P22 | IOSTANDARD = LVTTL;

#NET MLB		LOC=P21 | IOSTANDARD = LVTTL;
NET VPB			LOC=P6 | IOSTANDARD = LVTTL;
NET E			LOC=P20 | IOSTANDARD = LVTTL;
#NET MX			LOC=P24 | IOSTANDARD = LVTTL;

NET PHI2		LOC=P126 | IOSTANDARD = LVTTL;

NET RDY			LOC=P31 | IOSTANDARD = LVTTL;

NET EXTIO		LOC=P114 | IOSTANDARD = LVTTL;
NET IOINH		LOC=P111 | IOSTANDARD = LVTTL;
NET NMEMSEL		LOC=P112 | IOSTANDARD = LVTTL;
NET nbe_out		LOC=P130 | IOSTANDARD = LVTTL;	# /BE_OUT
NET nbe_dout		LOC=P131 | IOSTANDARD = LVTTL;	# /BE_DOUT
NET be_in		LOC=P119 | IOSTANDARD = LVTTL;
NET SYNC		LOC=P123 | IOSTANDARD = LVTTL;

NET CPHI2		LOC=P113 | IOSTANDARD = LVTTL;
NET C2PHI2		LOC=P106 | IOSTANDARD = LVTTL;
NET C8PHI2		LOC=P105 | IOSTANDARD = LVTTL;

NET PXL_OUT<0>		LOC=P92 | IOSTANDARD = LVTTL;	# IOUT
NET PXL_OUT<1>		LOC=P93 | IOSTANDARD = LVTTL;	# BOUT
NET PXL_OUT<2>		LOC=P94 | IOSTANDARD = LVTTL;	# GOUT
NET PXL_OUT<3>		LOC=P96 | IOSTANDARD = LVTTL;	# ROUT

NET SPI_SELA		LOC=P39 | IOSTANDARD = LVTTL;	# SPISELA/CSO_B
NET SPI_SELB		LOC=P26 | IOSTANDARD = LVTTL;
NET SPI_SELC		LOC=P25 | IOSTANDARD = LVTTL;

NET SPI_OUT		LOC=P44 | IOSTANDARD = LVTTL;	# SPI_MOSI
NET SPI_CLK		LOC=P103 | IOSTANDARD = LVTTL;	# SPI_CLK/CCLK
NET SPI_IN1		LOC=P63 | IOSTANDARD = LVTTL;	# SPI_MISO/DIN

NET SPI_IN3		LOC=P69 | IOSTANDARD = LVTTL;

NET SPI_NAUDIO		LOC=P116 | IOSTANDARD = LVTTL;
NET SPI_ACLK		LOC=P17 | IOSTANDARD = LVTTL;
NET SPI_AMOSI		LOC=P16 | IOSTANDARD = LVTTL;
NET NLDAC		LOC=P135 | IOSTANDARD = LVTTL;

NET INIT_B		LOC=P40 | IOSTANDARD = LVTTL;
